body {
    font-family: arial, sans-serif;
}
main {
    min-width:500px;
}
a {
    font-size: small;
    text-decoration: none;
    color: #000;
    opacity: 0.75;
}
a:hover {
    text-decoration: underline;
}
li {
    display: inline-block;
    padding-left:15px;
}
header{
    min-width: 500px;
    position: absolute;
    top:20px;
    width:100%
}
#aboutNav {
    float:left;
}
#appNav {
    float:right;
    margin-right:15px
}
#googleAppsLogo {
    background-image: url('http://ssl.gstatic.com/gb/images/i1_1967ca6a.png');
    background-size: 528px 68px;
    background-position: -132px -38px;
    height: 0;
    width: 0;
    padding:15px;
    display: block;
    margin-top: -10px;
    margin-bottom: -10px;
    opacity: 0.75;
    border-style:none;
}
#googleAppsLogo:hover {
    opacity: 1;
}
.nav_button{
    color: #fff;
    border:1px solid #42B5f4;
    font-weight: bold;
    background-color: #4683ea;
    background:-moz-linear-gradient(top,#4387fd,#4683ea);
    background: linear-gradient(top,#4387fd,#4683ea);
    padding: 6px 12px;
    border-radius: 2px;
    opacity: 1;
    text-decoration: none;
}
.nav_button:hover{
    text-decoration: none;
    background-color:#4387fd;
    background:-moz-linear-gradient(top,#70a5ff,#4683ea);
    background: linear-gradient(top,#70a5ff,#4683ea);
}
#googleLogo {
    padding-top:175px;
    margin: 0 auto;
    display: block;
}
#searchForm{
    width:484px;
    display: block;
    margin: 5px auto 15px auto;
}
#searchBox {
    background: #fff;
    border-radius: 2px;
    border: none;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16),0 0 0 1px rgba(0,0,0,0.08);
    z-index: 3;
    height: 44px;
    margin: 20px auto;
    width: 100%;
    font: 16px arial,sans-serif;
    text-indent: 20px;
}
#searchBox:focus, #searchBox:hover {
    box-shadow: 0px 3px 6px 1px rgba(0, 9, 83, 0.16),0 0 0 1px rgba(0, 9, 83,0.08);
}
.main_button {
    cursor: pointer;
    height: 36px;
    border: 1px solid #e2e2e2;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    color: #444;
    background-color: #f8f8f8;
    background-image: -moz-linear-gradient(top,#f5f5f5,#f1f1f1);
    font-family: arial,sans-serif;
    font-size: 13px;
    font-weight: bold;
    margin: 11px 4px;
    min-width: 54px;
    padding: 0 16px;
    text-align: center;
    opacity: 0.75;
}
.main_button:hover {
    color: #000;
    background-image: -moz-linear-gradient(top,#fff,#f1f1f1);
    border: 1px solid #cfcfcf;

}
#searchBtn {
    margin-left: 115px;
}
footer {
    position: absolute;
    bottom: 0px;    
    background: #f2f2f2;
    border-top: 1px solid #e4e4e4;
    width:100%;
    padding: 10px 0 15px 0;
    min-width:500px;
}
footer a {
    color: #5f6368;
    display:block;
}
#busNav {
    float:left;
}
#settingNav {
  float: right;
  margin-right:20px;
}